# ==========================================
# Sécurité : NE JAMAIS POUSSER CES FICHIERS
# ==========================================

# --- Secrets & Vault ---
.vault_pass
*.vault

# Clés privées SSH (spécifiques à ton lab)
*.key
*_id_rsa
id_rsa_*
.ssh/
*.pub

# Fichiers de configuration contenant des tokens ou secrets locaux
.wslconfig
*.env

# ==========================================
# Fichiers temporaires et logs d'Ansible
# ==========================================
# Fichiers créés par Ansible en cas d'échec d'un playbook
*.retry

# Logs d'exécution d'Ansible
*.log

# Fichiers de retry spécifiques et caches locaux
.ansible_cache/
.ansible/
.ansible_collections/
ansible_collections/
.collections/
*.retry
*.pic

# Ignore tout le contenu du dossier inventory, sauf le dossier lui-même
inventory/*
!inventory/.keep

# ==========================================
# Système et éditeurs de code
# ==========================================
.history/
.vscode/
.idea/
.DS_Store