[defaults]
inventory = ./inventory/production.ini
remote_user = root
host_key_checking = False
private_key_file = ~/.ssh/id_rsa_ansible_lab
collections_path = ./ansible_collections:~/.ansible/collections:/usr/share/ansible/collections
vault_password_file = .vault_pass
deprecation_warnings = False
