# --- MODULES DÉPENDANTS (MCO) ---
LoadModule proxy_module /usr/lib/apache2/modules/mod_proxy.so
LoadModule proxy_http_module /usr/lib/apache2/modules/mod_proxy_http.so
LoadModule proxy_balancer_module /usr/lib/apache2/modules/mod_proxy_balancer.so
LoadModule lbmethod_byrequests_module /usr/lib/apache2/modules/mod_lbmethod_byrequests.so
LoadModule headers_module /usr/lib/apache2/modules/mod_headers.so
LoadModule slotmem_shm_module /usr/lib/apache2/modules/mod_slotmem_shm.so

# --- CONFIGURATION DE BASE ---
ServerName localhost
DefaultRuntimeDir ${APACHE_RUN_DIR}
PidFile ${APACHE_PID_FILE}
Timeout 300
KeepAlive On
MaxKeepAliveRequests 100
KeepAliveTimeout 5

User ${APACHE_RUN_USER}
Group ${APACHE_RUN_GROUP}
HostnameLookups Off
ErrorLog ${APACHE_LOG_DIR}/error.log
LogLevel warn

# --- RESEAU ---
Include ports.conf

# --- LOGIQUE DE PROXY (Priorité Haute) ---
<Proxy balancer://mycluster>
    {% for host in groups.get('jboss_servers', []) %}
    BalancerMember http://{{ hostvars[host]['ansible_host'] }}:8080 route={{ host }} retry=1 timeout=5
    {% endfor %}
    ProxySet lbmethod=byrequests
</Proxy>

# Capture totale du trafic vers le cluster
ProxyPass / balancer://mycluster/
ProxyPassReverse / balancer://mycluster/

# Injection du header de traçabilité pour la validation automatisée
Header add X-Served-By "%{BALANCER_WORKER_ROUTE}e"

# --- SÉCURITÉ ET ACCÈS ---
<Directory />
    AllowOverride None
    Require all denied
</Directory>

DocumentRoot "/var/www/html"

<Directory /var/www/html>
    Options Indexes FollowSymLinks
    AllowOverride None
    Require all granted
</Directory>

# --- LOGIQUE DE CHARGEMENT ---
AccessFileName .htaccess
IncludeOptional mods-enabled/*.load
IncludeOptional mods-enabled/*.conf