global
    log /dev/log local0
    log /dev/log local1 notice
    maxconn 4096
    user haproxy
    group haproxy

defaults
    log global
    mode http
    option httplog
    option dontlognull
    timeout connect 5000
    timeout client 50000
    timeout server 50000

frontend http_front
    bind *:80
    # Interface de stats accessible via http://<IP_WAF>/haproxy?stats
    stats uri /haproxy?stats
    stats enable
    default_backend apache_cluster

backend apache_cluster
    balance roundrobin
    option httpchk HEAD /
    {% for host in groups.get('jboss_servers', []) %}
    server {{ host }} {{ hostvars[host]['ansible_host'] }}:8080 check port 8080 inter 2000 fall 3 rise 2
    {% endfor %}

# <--- That's all
